body {
    background-color:#222244;
    font-family:sans-serif;
    font-size:0.8em;
    color:#444444;
}
#page {
    width:700px;
    color:#433;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    margin-bottom:30px;
}
#head {
    background-color:#444466;
    height:125px;
    padding:20px;
    -webkit-border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topleft:20px;
    -moz-border-radius-topright:20px;
}
#main {
    background-color:white;
    width:100%;
}
#body {
    background-color:white;
    color:#433;
    margin-left:200px;
    padding:20px;
}
#foot {
    color:#cccccc;
    font-size:80%;
    background-color:#664444;
    height:20px;
    padding:15px;
    text-align:center;
    -webkit-border-bottom-left-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomleft:20px;
    -moz-border-radius-bottomright:20px;
}
#sidebar {
    background-color:white;
    width:160px;
    color:#433;
}
a.menu {
    display:block;
    height:25px;
    padding-top:10px;
    padding-left:20px;
    border-bottom:1px dotted grey;
    text-decoration:none;
    color:#866;
}
a.menu:hover {
    color:black;
    border-bottom:1px solid grey;
    background-color:#ccc;
}
table.layout td {
    margin:0px;
    padding:0px;
}
#logo {
    float:left;
    height:100px;
    width:100px;
    margin-top:25px;
    margin-left:25px;
}
#title {
    margin-top:25px;
    margin-left:150px;
    color:white;
    font-size:50pt;
    font-weight:bold;
    font-style:italic;
}
.about {
    font-size:80%;
    padding:20px 0px 20px 20px;
    text-align:justify;
    color:#666;
}